{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}

    <div class="title">
		<h1>SYMFONY  NOTIFIER</h1>
    </div>
	<div class="container">

		<div class="mt-5">
			<h1>Test de symfony-notifier</h1>
		</div>
		<div>
			<h3 class="my-3"># Documentation et liens</h3>
		</div>
		<div>
        <ul>
            <li><h5>Documentation symfony : <a href="https://symfony.com/doc/current/notifier.html">Créer et envoyer des notifications</a></h5></li>
            <li><h5>Projet : <a href="https://github.com/jayhem10/symfony-notifier">Repo Git</a></h5></li>
            <li><h5>Mailer : <a href="https://symfony.com/doc/current/mailer.html">Envoyer des mails</a></h5></li>
            <li><h5>SMS : <a href="https://symfony.com/doc/current/notifier/texters.html">Envoyer des SMS</a></h5></li>
            <li><h5>Chat : <a href="https://symfony.com/doc/current/notifier/chatters.html">Envoyer des chats</a></h5></li>
        
		</ul>           
		</div>

        <div>
			<h3 class="my-3"># Mise en place</h3>
            <ul>
            <li><h5>Installer le notifier : composer require symfony/notifier </h5></li>
            <li><h5>Installer les services désirés : composer require symfony/ovh-cloud-notifier</h5></li>
            <li><h5>Mettre à jour le .env</h5></li>
			<img src="{{ asset('/images/2.png') }}" alt="env">
			<li class="mt-3"><h5>Mettre à jour le notifier.yaml</h5></li>
			<img src="{{ asset('/images/1.png') }}" alt="env">
			<li class="mt-3"><h5>Créer les routes</h5></li>
			<img src="{{ asset('/images/route.png') }}" alt="env">
        </ul>   
		</div>

		<div>
			<h3 class="mt-3"># Tests</h3>
		</div>
		<table class="table table-dark table-hover my-3">
			<thead>
				<tr>
                    <th scope="col">INFOS</th>
					<th scope="col">URGENT</th>
					<th scope="col">HIGH</th>
					<th scope="col">MEDIUM</th>
					<th scope="col">LOW</th>
				</tr>
			</thead>
			<tbody>
            	<tr>
					<th scope="row">Route</th>
					<td>/invoice/create/urgent</td>
					<td>/invoice/create/high</td>
					<td>/invoice/create/medium</td>
					<td>/invoice/create/low</td>
				</tr>
				<tr>
					<th scope="row">Canaux</th>
					<td>['sms']</td>
					<td>['email']</td>
					<td>['chat/slack']</td>
					<td>['browser']</td>
				</tr>
				<tr>
					<th scope="row">Config</th>
					<td>OVHCLOUD_DSN</td>
					<td>MAILER_DSN</td>
					<td>SLACK_DSN</td>
					<td>/</td>
				</tr>
                <tr>
					<th scope="row">Installation</th>
					<td>composer require symfony/ovh-cloud-notifier</td>
					<td>composer require symfony/mailer</td>
					<td>composer require symfony/discord-notifier</td>
					<td>/</td>
				</tr>
                <tr>
					<th scope="row">Bouton</th>
					<td><a class="btn btn-primary" href="{{ path('urgent')}}" role="button">URGENT</a></td>
					<td><a class="btn btn-primary" href="{{ path('high')}}" role="button">HIGH</a></td>
					<td><a class="btn btn-primary" href="{{ path('medium')}}" role="button">MEDIUM</a></td>
					<td><a class="btn btn-primary" href="{{ path('low')}}" role="button">LOW</a></td>
				</tr>
			</tbody>
		</table>

        <div>
			<h3 class="my-3"># Custom</h3>
            <p class="my-2">Chaque canal possède sa propre interface de notification que vous pouvez implémenter pour personnaliser le message de notification. Par exemple, si vous souhaitez modifier le message en fonction du service de chat, implémentez ChatNotificationInterface et sa méthode asChatMessage() ( ou SmsNotificationInterface et EmailNotificationInterface ) </h5>
			<img src="{{ asset('/images/class.png') }}" alt="mail">
            <p class="my-2">On crée des classes pour chaque cas dans le dossier /notifier</h5>
        <ul>
			<li class="my-2"><a class="btn btn-primary btn-sm" href="{{ path('email_custom')}}" role="button">EMAIL CUSTOM</a> Email personnalisé </li>
			<img src="{{ asset('/images/mail.png') }}" alt="mail">
            <li class="my-2"><a class="btn btn-primary btn-sm" href="{{ path('slack_custom')}}" role="button">SLACK CUSTOM</a> Message Chat Personnalisé</li>
			<img src="{{ asset('/images/slack.png') }}" alt="slack">
            <li class="my-2"><a class="btn btn-primary btn-sm" href="{{ path('sms_custom')}}" role="button">SMS CUSTOM</a> Sms personnalisé </li>
			<img src="{{ asset('/images/3.png') }}" alt="sms">
			<li class="my-2"><a class="btn btn-primary btn-sm" href="{{ path('email_slack_custom')}}" role="button">EMAIL SLACK CUSTOM</a> Envoi d'un email + chat personnalisé</li>
        </ul>   
		</div>

	</div>
{% endblock %}
